BOT_TOKEN=REMPLACE_PAR_TON_TOKEN
BOT_PREFIX=!
DEBUG=false

GUILD_ID=0
OWNER_ID=0
ADMIN_ROLE_ID=0
MOD_ROLE_ID=0

DEFAULT_EMBED_COLOR=65280
ERROR_EMBED_COLOR=16711680
SUCCESS_EMBED_COLOR=32768
WARNING_EMBED_COLOR=16753920

MAX_QUESTIONS_PER_MATCH=5
QUESTION_TIMEOUT=10
DAILY_TIMEOUT=15
VAR_TIMEOUT=15
CHALLENGE_TIMEOUT=300

ENABLE_MESSAGE_COMMANDS=true
ENABLE_SLASH_COMMANDS=true
